<div class="statements">
    <div class="df_column_jc_c">
        <h1>{{ 'text-need-a-team' | translate }}</h1>
        <h2>{{ 'text-here-what' | translate }}</h2>
    </div>
    <div class="df_jc_c">
        <div class="statement-container">
            <a class="prev" (click)="plusSlides(-1)">❮</a>
            <a class="next" (click)="plusSlides(1)">❯</a>
            <div class="statement-content mySlides fade" *ngFor="let statement of statements; let i = index">
                <div>
                    <h3>{{ statements[i].name }}</h3>
                    <h4>{{ statements[i].project }}</h4>     
                </div>
                <div class="content">
                    <h5>{{ this.portfolioService.selectedLanguage === 'en' ? statements[i].contentEN : statements[i].contentDE }}</h5>
                </div>
            </div>
        </div>
    </div> 
    <div class="pos-dot">
        <span class="dot" (click)="currentSlide(1)"></span> 
        <span class="dot" (click)="currentSlide(2)"></span> 
        <span class="dot" (click)="currentSlide(3)"></span> 
    </div>
</div>