.statements {
    margin-top: 7.813rem;
    height: 33.25rem;
    background-image: linear-gradient(135deg, #5988FF 6%, #5988FF 52%, #0043F0 100%);
}

.df_column_jc_c {
    padding: 2.938rem 0 4.125rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'baloo-regular';
    font-size: 2.813rem;
    color: white;
}

h2, h3, h4, h5 {
    color: white;
    font-family: 'montserrat-regular';
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

h4 {
    font-size: 1rem;
    font-weight: 400;
}

h5 {
    font-size: 1.125rem;
    font-weight: 400;
}

.df_jc_c {
    display: flex;
    justify-content: center;
}

.statement-container {
    height: 15.375rem;
    width: 64.688rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.statement-content {
    height: 100%;
    width: 18.813rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name-and-project {
    width: 100%;
}

.content {
    height: 10.063rem;
    width: 100%;
}