<div class="lets-work-together" id="lets-work-together">
    <div class="pos-half-circle">
        <div class="big-circle"></div>
    </div>
    <div class="small-circle"></div>
    <div class="pos-container">
        <div class="title-work-togehter">
            <div class="pos-lets-work">
                <div class="text-lets-work">
                    Let's work togehter
                </div>               
                <div class="iam-center">
                    <div class="available-info">
                        <div class="text-i-am">
                            I am
                        </div>
                        <div class="available-icons fd_r_sb">
                            <div class="fd_row location">
                                <img class="location-web" src="../../../assets/desktop/located.png" alt="Picture location">
                                <p>located in Recklinghausen</p>
                            </div>
                            <div class="fd_row remote">
                                <img class="remote-web" src="../../../assets/desktop/remote.png" alt="Picture remote">
                                <p>open to work remote</p>
                            </div>
                            <div class="fd_row relocation">
                                <img class="relocation-web" src="../../../assets/desktop/relocate.png" alt="Picture relocation">
                                <p>open to relocate</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pos-about-me">
            <div class="about-me">
                I am a Front-end developer based in Munich, Germany. I enjoy helping designers and companies bring their 
                ideas into real life. I am looking forward to continuing my developer career with a job in a junior web 
                developer position. My ability to solve complex problems and my passion for programming make me a valuable 
                member for your team. <br><br> If you think I`d be a good match for your projects, contact me!
            </div>
            <button class="btn-send-a-message" (click)="scrollToContact($event)">Send a message</button>
        </div>
    </div>
</div>