.lets-work-together {
    position: relative;
}

.pos-half-circle {
    position: relative;
    display: flex;
    justify-content: center;
}

.big-circle {
    position: absolute;
    top: -6.438rem;
    height: 12.875rem;
    width: 12.875rem;
    border-radius: 50%;
    background-image: linear-gradient(to right, #5988FF, #0043F0);
    z-index: -5;
}

.small-circle {    
    position: absolute;
    margin-top: 2rem;
    margin-left: 75%;
    height: 5.125rem;
    width: 5.125rem;
    border-radius: 50%;
    background-image: linear-gradient(to right, #5988FF, #0043F0);
}

.pos-container {
    margin-top: 8.688rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3.938rem;
    margin-bottom: 8rem;
}

.pos-lets-work {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.text-lets-work {
    width: 100%;
    font-size: 7.563rem;
    line-height: 7.563rem;
    font-family: 'baloo-regular';
    color: #5988FF;
    text-align: left;
}

.iam-center {
    display: flex;
    justify-content: center;
}

.available-info {
    height: 8rem;
    max-width: 36.313rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-i-am {
    text-align: center;
    font-family: 'baloo-regular';
    font-size: 2.813rem;
    line-height: 2.813rem;
    color: #5988FF;
}

.fd_r_sb {
    display: flex;
    justify-content: space-between;
}

.df_jc_c {
    display: flex;
    justify-content: center;
}

p {
    width: 9.1rem;
    font-size: 1.125rem;
    margin-left: 0.313rem;
    font-family: 'montserrat-regular';
    color: #5988FF;
    word-wrap: break-word;
}

.fd_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    img {
        transition: opacity 0.3s ease;
    }
}

.fd_row.location:hover img {
    content: url('../../../assets/desktop/located_hover.png');
}

.fd_row.remote:hover img {
    content: url('../../../assets/desktop/remote_hover.png');
}

.fd_row.relocation:hover img {
    content: url('../../../assets/desktop/relocate_hover.png'); 
}

.location-web {
    height: 3.188rem;
    width: 2.5rem;
}

.remote-web {
    height: 3.188rem;
    width: 3.75rem;
}

.relocation-web {
    height: 3.188rem;
    width: 2.5rem;
}

.title-work-togehter {
    max-width: 37.875rem;
    word-wrap: break-word;
    display: flex;
}

.pos-about-me {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.about-me {
    font-family: 'montserrat-regular';
    max-width: 33.688rem;
    word-wrap: break-word;
    font-size: 1.438rem;
    margin-bottom: 2.5rem;
}

.btn-send-a-message {
    height: 3.625rem;
    width: 15.875rem;
    font-family: 'poppins-regular';
    font-size: 1.438rem;
    line-height: 1.725rem;
    color: #5988FF;
    border: 2px solid #5988FF;
    border-radius: 0.625rem;
    background-size: 100% 100%; 
    background-position: center;

    &:hover {
        cursor: pointer;
        animation: move-btn-say-hello 0.35s forwards;
    }
    
    @keyframes move-btn-say-hello {
        0% {top: 0px; background-image: url('./../../../assets/desktop/btn-animation-one.png'); color: white; height: 3.625rem; width: 15.875rem; border: 0; background-size: 120% 120%; border-radius: 0.625rem;}
        35% {top: 0px; background-image: url('./../../../assets/desktop/btn-animation-one.png'); color: white; height: 3.625rem; width: 15.875rem; border: 0; background-size: 120% 120%; border-radius: 0.625rem;}
        75% {top: 0px; background-image: url('./../../../assets/desktop/btn-animation-two.png'); color: white; height: 3.625rem; width: 15.875rem; border: 0; background-size: 120% 120%; border-radius: 0.625rem;}
        100% {top: 0px; background-image: url('./../../../assets/desktop/btn-animation-three.png'); color: white; height: 4.5rem; width: 17rem; border: 0; background-size: 120% 120%; border-radius: 0.625rem;}
    }
}

@media only screen and (max-width: 1275px) {
    .about-me {
        width: 32.688rem;
        font-size: 1.35rem;
    }

    .text-lets-work {
        width: 100%;
        font-size: 6.563rem;
        line-height: 6.563rem;
    }

    .title-work-togehter {
        max-width: 33rem;
    }

    .iam-center {
        justify-content: flex-start;
    }

    .available-info {
        width: 32rem;
    }

    .pos-container {
        gap: 3rem;
    }

    p{
        margin: 0;
        width: 8.1rem;
        font-size: 1rem;
        white-space: wrap;
        overflow-wrap: break-word;
    }
}

@media only screen and (max-width: 1175px) {
    .pos-container {
        gap: 0rem;
    }

    .title-work-togehter {
        width: 32rem;
    }

    .about-me {
        width: 32rem;
    }

    .pos-about-me {
        min-height: 23.5rem;
    }
}

@media only screen and (max-width: 1050px) {
    .pos-container {
        padding: 0 6.75rem 0 5.688rem;
    }
    
    .pos-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .big-circle {
        height: 11.5rem;
        width: 11.5rem;  
    }

    .about-me {
        margin: 1rem 0 1rem 0;
        font-size: 1.438rem;
    }
}

@media only screen and (max-width: 618px) {
    .pos-container {
        padding: 0 1.563rem 0 1.563rem;
    }

    .text-lets-work {
        padding: 1.563rem 0;
    }

    .remote-web {
        margin-bottom: 1rem;
    }

    .about-me {
        margin-top: 0.5rem;
        font-size: 1.25rem;
    }
}


@media only screen and (max-width: 600px) {
    .pos-container {
        padding: 0 1.563rem 0 1.563rem;
    }

    .available-info, .title-work-togehter, .about-me {
        width: 100%;
    }

    .pos-about-me {
        margin-top: 6rem;
    }

    .fd_r_sb {
        flex-direction: column;
        align-items: center;
    }

    p {
        width: 13.5rem;
    }

    .remote-web {
        margin-left: -1.125rem;
    }

    .relocation-web {
        margin-left: 0.313rem;
    }

    .text-lets-work {
        font-size: 6rem;
        line-height: 6rem;
        width: 28.75rem;
    }

    .available-icons {
        height: 9.564rem;
    }

    .pos-container {
        gap: 0rem;
    }
}

@media only screen and (max-width: 525px) {
    .text-lets-work {
        font-size: 5.5rem;
        line-height: 5.5rem;
        width: 26rem;
    }

    .text-i-am {
        font-size: 2.375rem;
        line-height: 2.375rem;
    }
}

@media only screen and (max-width: 485px) {
    .text-lets-work {
        font-size: 5rem;
        line-height: 5rem;
        width: 23.75rem;
    }
}

@media only screen and (max-width: 445px) {
    .text-lets-work {
        font-size: 4rem;
        line-height: 4rem;
        width: 19rem;
    }

    .text-i-am {
        font-size: 2rem;
        line-height: 2rem;
    }
}

@media only screen and (max-width: 365px) {
    .text-lets-work {
        font-size: 3.5rem;
        line-height: 3.5rem;
        width: 16.5rem;
    }

    .about-me {
        font-size: 1.125rem;
    }
}


@media only screen and (max-width: 340px) {
    .big-circle {
        top: -5rem;
        height: 10rem;
        width: 10rem;
    }
}
    
    .small-circle {    
        position: absolute;
        margin-top: 2.75rem;
        height: 3.625rem;
        width: 3.625rem;
}

@media only screen and (max-width: 320px) {
    .text-lets-work {
        font-size: 3rem;
        line-height: 3rem;
        width: 14.25rem;
    }

    p {
        font-size: 0.9rem;
        width: 12rem;
    }
}

@media (orientation: portrait) and (max-height: 935px) {
    .pos-container {
        margin-top: 7.5em;
    }
}

@media (orientation: portrait) and (max-height: 915px) {
    .text-lets-work {
        padding: 0 0 0.5rem 0;
    }
}

@media (orientation: portrait) and (max-height: 900px) {
    .pos-container {
        margin-top: 7rem;
    }

    .about-me {
        margin-top: 0;
    }
}

@media (orientation: portrait) and (max-height: 895px) {
    .text-lets-work {
        padding: 0 0 0.5rem 0;
    }

    .about-me {
        margin-top: -1rem;
    }

    .pos-container {
        margin-top: 8rem;
    }
}

@media (orientation: portrait) and (max-height: 885px) {
    .pos-container {
        margin-top: 7rem;
    }
}

@media (orientation: portrait) and (max-height: 845px) {
    .about-me {
        padding: 0 0 1.563rem 0;
    }
}

@media (orientation: portrait) and (max-height: 825px) {
    .text-lets-work {
        padding: 0 0 1.563rem 0;
    }
}

@media (orientation: portrait) and (max-height: 820px) {
    .text-lets-work {
        padding: 0;
    }
}

@media (orientation: portrait) and (max-height: 735px) {
    .text-lets-work {
        padding: 0 0 1.563rem 0;
    }

    .about-me {
        margin-top: 0rem;
    }
}

@media (orientation: portrait) and (max-height: 720px) {
    .text-lets-work {
        padding: 0 0 1.563rem 0;
    }

    .about-me {
        margin-top: 0rem;
    }
}

@media (orientation: portrait) and (max-height: 640px) {
    .text-lets-work {
        padding: 0 0 1rem 0;
    }
}

@media (orientation: portrait) and (max-height: 570px) {
    .text-lets-work {
        padding: 0 0 0 0;
    }
}