<div class="contact" id="go-to-contact">
    <div class="middle-circle"></div>
    <div class="small-circle"></div>
    <div class="df_fd_r_sb">
        <div class="df_fd_column">
            <div class="text-contact">
                <h1>{{ 'text-contact' | translate }}</h1>
                <h2>{{ 'text-got-a' | translate }}</h2>
                <p>{{ 'text-contact-me-through' | translate }}</p>
                <div class="df_fd_row_contactme">
                    <h3>{{ 'text-need-a' | translate }}</h3>
                    <h5>{{ 'text-contact-me' | translate }}</h5></div>
                </div>
            <div class="big-circle-container">
                <div class="bigcircle">                
                </div>
            </div>
        </div>
        <form #myForm="ngForm" (ngSubmit)="onSubmit($event)" autocomplete="off">
            <div class="df_ai_fend">
                <div class="input-contact df_fd_column">
                        <div class="field">
                        <input type="text" name="user_name" [(ngModel)]="contactData.name" #nameInput="ngModel" 
                        [ngClass]="{ 'label-top': contactData.name.length > 0 }" (keyup)="checkValidyOfInput()" pattern="^[a-zA-ZöüäÖÜÄ0-9\s\W]{3,30}$" required/>
                        <label title="{{ 'text-your-name' | translate }}"></label>
                        <img class="size-status" [ngClass]="{'d-none': nameInput.invalid}" src="../../../assets/desktop/done.png">
                        <img class="size-status d-none" id="error-name-icon" src="../../../assets/desktop/error.png">
                        <div class="required-name d-none" id="required-name">{{ 'text-name-required' | translate }}</div>
                        <div class="input-bottom-distance"></div>
                    </div>
                    <div class="field">
                        <input type="email" name="user_email" [(ngModel)]="contactData.email" #emailInput="ngModel" 
                        [ngClass]="{ 'label-top': contactData.email.length > 0 }" (keyup)="checkValidyOfInput()" pattern="^[a-zA-Z0-9äöüÄÖÜ]+@[^ ]+\.[a-z]{2,6}$" required/>
                        <label title="{{ 'text-your-email' | translate }}"></label>
                        <img class="size-status" [ngClass]="{'d-none': emailInput.invalid}" src="../../../assets/desktop/done.png">
                        <img class="size-status d-none" id="error-email-icon" src="../../../assets/desktop/error.png">
                        <div class="required-email d-none" id="required-email">{{ 'text-email-required' | translate }}</div>
                        <div class="input-bottom-distance"></div>
                    </div>
                    <div class="areafield">
                        <textarea rows="9" name="message" [(ngModel)]="contactData.message" #messageInput="ngModel" 
                        [ngClass]="{ 'label-top': contactData.message.length > 0 }" (keyup)="checkValidyOfInput()"
                        pattern="^[a-zA-Z0-9!@#$%^&*() _+=\-\.\;\:\,\?\u00F6\u00E4\u00FC\u00D6\u00C4\u00DC\u00DF']{1,1000}$" required></textarea>
                        <label title="{{ 'text-your-message' | translate }}"></label>
                        <img class="size-status" [ngClass]="{'d-none': messageInput.invalid}" src="../../../assets/desktop/done.png">
                        <img class="size-status d-none" id="error-message-icon" src="../../../assets/desktop/error.png">
                        <div class="required-message d-none" id="required-message">{{ 'text-message-required' | translate }}</div>
                        <div class="input-bottom-distance-textarea"></div>
                    </div>         
                    <div class="df_fd_column">
                        <div class="df_fd_column">    
                            <div class="df_fd_row_c">
                                <input type="checkbox" name="checkBoxPrivacyPolicy" class="checkbox" [ngClass]="{'shadow': isHovered}" 
                                [(ngModel)]="checkBoxPrivacyPolicy" (change)="checkValidyOfCheckBox()">
                                    <h4>{{ 'text-ive-read' | translate }}
                                        <a routerLink="/privacy-policy" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="navigateToPrivacyPolicy(); startsAtTheTop($event)" (mouseenter)="onHover()" (mouseleave)="onLeave()">
                                            {{ 'privacy-policy' | translate }}
                                        </a>
                                        {{ 'text-and-agree' | translate }}
                                    </h4>
                             </div>
                            <div class="required-privacy-policy d-hidden" id="required-privacy-policy">{{ 'text-please-accept' | translate }}</div>
                        </div>
                        <div class="df_jc_c">
                            <button type="submit" id="btn-submit" [ngClass]="{
                                'btn-say-hello': nameInput.valid && emailInput.valid && messageInput.valid && checkBoxPrivacyPolicy}" 
                                (click)="btnOn()">{{ 'btn-say-hello' | translate }}
                            </button>
                        </div>    
                    </div>
                </div>
            </div>
        </form>
        <app-contact-form-sucessfully-submitted *ngIf="showSuccessOverlay" (close)="closeSuccessOverlay()"></app-contact-form-sucessfully-submitted>
    </div>
    <img class="size-go-up-btn" (click)="scrollToLandingPage($event)" src="../../../assets/desktop/btn-go-up.png" alt="go up icon">
</div>