.my-work {
    margin-top: 9.625rem;
    position: relative;
    z-index: 10;
}

.my-work-container {
    margin-left: 4.813rem;
    height: 14.5rem;
    width: 38rem;
}

h1 {
    font-family: 'baloo-regular';
    margin-bottom: 2.5rem;
    line-height: 6rem;
    font-size: 6rem;
    color: #5988FF;
}

p {
    font-family: 'montserrat-regular';
    font-size: 1.438rem;
    color: black;
}

.small-circle {
    position: absolute;
    margin-top: -4.625rem;
    margin-left: 37.5%;
    height: 6.797rem;
    width: 6.797rem;
    border-radius: 50%;
    background-image: linear-gradient(to right, #5988FF, #0043F0);
}

.big-circle {
    position: absolute;
    margin-top: 3rem;
    margin-left: 78%;
    height: 11.438rem;
    width: 11.438rem;
    border-radius: 50%;
    background-image: linear-gradient(to right, #5988FF, #0043F0);
}