<div class="landingpage" id="landing-page">
  <div class="circle-landingpage"></div>
  <h3>Enrico Kirschke</h3>
  <h1>FRONTEND</h1>
  <h2>DEVELOPER</h2>
  <h4>SCROLL</h4>
  <div class="line"></div>

<div class="df_jc_c">
  <img class="picture-frontend-developer" src="../../../assets/desktop/hamster.png" alt="picture-frontend-developer">
</div>  

  <div class="navbar-social-icon">
    <div class="pos-social-icon">
      <div class="icon-container">
        <a href="https://github.com/Pinguinrakete/" target="_blank">   
          <img class="size-social-icon" src="../../../assets/desktop/github-icon.svg" alt="github icon">
        </a>
      </div>
      <div class="icon-container">
        <a (click)="scrollToContact($event)">
          <img class="size-social-icon" src="../../../assets/desktop/email-icon.svg" alt="email icon">
        </a>
      </div>
      <div class="icon-container">
        <a href="https://de.linkedin.com/" target="_blank">  
          <img class="size-social-icon" src="../../../assets/desktop/linkedin-icon.svg" alt="linkedin icon">
        </a>
      </div>
    </div>
  </div>
  <app-header-navbar class="pos-navbar"></app-header-navbar>
</div>

<app-lets-work-together></app-lets-work-together>
<app-skill-set></app-skill-set>
<app-my-work></app-my-work>
<app-projects></app-projects>
<app-statements></app-statements>
<app-contact></app-contact>
<app-footer></app-footer>