.logo {
    height: 4.313rem;
    width: 4rem;
}

.pos-navbar-container {
    height: 7.313rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 4.781rem 0 6.25rem;
}

.pos-links-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2.25rem;
}

.navbar-link {
    height: 2rem;
    width: 7.5rem;
    display: flex;
    align-items: center;
    font-family: 'montserrat-regular';
    font-size: 1.438rem;
    color: #5988FF;

    &:hover {
        font-weight: 700;
    }
}

.df_fd_col_fstart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hidden {
    visibility: hidden;
}

.navbar-underline {
    height: 0.188rem;
    width: 3.469rem;
    background-color: #0043F0;
}

