.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects {
    position: relative;
    padding: 0 0 0 0;
    width: 100%;
    max-width: 1440px;
}

.project-container {
    display: flex;
    flex-direction: row;
    gap: 5.313rem;
    margin-bottom: 8.563rem;
    margin-left: 4.813rem;
}

.circle-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -5;
}

.reverse-order {
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.df_jc_c_ai_fe {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.image-container {
    position: relative;
    height: 24.563rem;
    width: 38.75rem;
    z-index: 1;
}

.image-bg {
    position: absolute;
    height: 28.75rem;
    width: 42rem;
}

img {
    height: 24.563rem;
    width: 38.75rem;
    box-shadow: 5px 5px 15px 0px #00000026;
    transition: transform 0.3s ease, width 0.5s ease, object-position 1s ease;

    &:hover {
        transform: translateY(-4.188rem);
        width: 45rem;
    }
}

.df_ai_fend {
    display: flex;
    align-items: flex-end;
}

.project-description {
    display: flex;
    align-items: flex-end;    
    height: 21.188rem;
    width: 33.5rem;
    text-align: left;
}

.reverse-description {
    text-align: right;
}

.project-content {
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'baloo-regular';
    font-size: 2.813rem;
    line-height: 2.813rem;
    color: #5988FF;
}

h2 {
    margin-top: 0.938rem;
    margin-bottom: 0.938rem;
    font-family: 'montserrat-regular';
    font-size: 1.438rem;
    line-height: 1.725rem;
    color: #5988FF;
}

p {
    margin-bottom: 2.188rem;
    font-family: 'montserrat-regular';
    font-size: 1rem;
    line-height: 1.2rem;
    color: black;
}

.fd_fstart {
    display: flex;
    justify-content: flex-start;
}

.btn-container {
    height: 4.085rem;
    width: 19.75rem;
}

.btn-live-test, .btn-github {
    height: 3.625rem;
    width: 8.563rem;
    border-radius: 0.625rem;
    padding: 0.938rem 1.25rem;
    font-family: 'poppins-regular';
    font-size: 1.438rem;
    line-height: 1.725rem;
    cursor: pointer;
    background-size: 100% 100%; 
    background-position: center;

    &:hover {
        cursor: pointer;
        animation: btn-animation 0.4s forwards;
        transform: scale(1.1);
        transform-origin: center; 
    }

    @keyframes btn-animation {
        0% {top: 0px; background-image: url('./../../../assets/desktop/btn-animation-one.png'); color: white; border: 0;}
        35% {top: 0px; background-image: url('./../../../assets/desktop/btn-animation-one.png'); color: white; border: 0;}
        75% {top: 0px; background-image: url('./../../../assets/desktop/btn-animation-two.png'); color: white; border: 0;}
        100% {top: 0px; background-image: url('./../../../assets/desktop/btn-animation-three.png'); color: white; border: 0;}
    }
}

.btn-live-test {
    color: white;
    background-color: #5988FF;
    border: 2px solid #5988FF;
}

.btn-github {
    color: #5988FF;
    background-color: white;
    border: 2px solid #5988FF;
}

.df_jc_sb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.df_jc_fend {
    display: flex;
    justify-content: flex-end;
}

.circle-one, .circle-two {
    position: absolute;
    z-index: -10;
    border-radius: 50%;
    background-image: linear-gradient(to left, #5988FF, #0043F0);
} 

.circle-one {
    margin-top: 11.063rem;
    margin-left: -215px;
    height: 24.625rem;
    width: 24.625rem;
}

.circle-two {
    margin-top: 31.5rem;
    margin-left: 65%;
    height: 40.75rem;
    width: 40.75rem;
}

.circle-three, .circle-four, .circle-five {
    position: absolute;
    z-index: -10;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, #5988FF, #0043F0);
}

.circle-three {
    margin-top: 56.875rem;
    margin-left: 6%;
    height: 3.188rem;
    width: 3.188rem;
}

.circle-four {
    margin-top: 85rem;
    margin-left: 9%;
    height: 14.875rem;
    width: 14.875rem;
}

.circle-five {
    margin-top: 108.875rem;
    margin-left: 89%;
    height: 6.125rem;
    width: 6.125rem;
}

.last-project {
    margin-bottom: 0.938rem;
}

@media only screen and (max-width: 1405px) {
    .image-container, img {
        width: 35.75rem;
    }

    .image-bg {
        width: 39rem;
    }
}

@media only screen and (max-width: 1375px) {
    .projects {
        padding: 0 0 0 0;
    }
}

@media only screen and (max-width: 1355px) {
    .image-container, img {
        width: 32.75rem;
    }

    .image-bg {
        width: 36rem;
    }
}

@media only screen and (max-width: 1315px) {
    .project-container {
        gap: 5rem;
        margin-bottom: 7.563rem;
    }

    .project-description {
        width: 32rem;
    }
}

@media only screen and (max-width: 1270px) {
    .image-container {
        width: 29.75rem;
    }

    .image-bg {
        width: 33rem;
    }    

    img {
        width: 29.75rem;

        &:hover {
            width: 36rem;
        }
    }
}

@media only screen and (max-width: 1235px) {
    h2 {
        font-size: 1.25rem;
    }

    .project-description {
        width: 30.5rem;
    }

    img {
        width: 29.75rem;

        &:hover {
            width: 34rem;
        }
    }

    .project-container {
        gap: 4rem;
    }
}

@media only screen and (max-width: 1200px) {
    .project-description {
        width: 29rem;
    }
}

@media only screen and (max-width: 1175px) {
    .project-description {
        width: 28rem;
    }
}

@media only screen and (max-width: 1160px) {
    .image-container {
        width: 28.25rem;
    }

    .image-bg {
        width: 31.5rem;
    }    

    img {
        width: 28.25rem;

        &:hover {
            width: 33rem;
        }
    }
}

@media only screen and (max-width: 1135px) {
    .image-container {
        height: 22.563rem;
        width: 26.75rem;
    }

    .image-bg {
        height: 26.75rem;
        width: 30rem;
    }    

    img {
        height: 22.563rem;
        width: 26.75rem;

        &:hover {
            width: 30rem;
        }
    }

    .project-container {
        gap: 3rem;
    }

    .circle-four {
        margin-top: 80rem;
    }
}

@media only screen and (max-width: 1090px) {
    .project-container {
        margin-left: 4rem;
    }
}

@media only screen and (max-width: 1070px) {
    .project-container {
        margin-left: 2.5rem;
    }
}

@media only screen and (max-width: 1050px) {   
    .project-container {
        flex-direction: column;
        align-items: center;
        gap: 0;
        margin-top: 1.75rem;
        margin-left: 0rem;
    }

    .image-container {
        height: 24.563rem;
        width: 38.75rem;
    }

    .image-bg {
        height: 28.75rem;
        width: 42rem;
    }

    img {
        height: 24.563rem;
        width: 38.75rem;
    
        &:hover {
            width: 45rem;
        }
    }

    .project-content {
        align-items: center;
    }

    p {
        text-align: center;
    }

    .project-description {
        width: 35rem;
    }

    h2 {
        font-size: 1.438rem;
    }

    .circle-five {
        margin-left: calc(100% - 7rem);
    }

    .circle-one {
        margin-top: 5rem;
    }

    .circle-four {
        margin-top: 119.5rem;
        margin-left: 17%;
    }
}

@media only screen and (max-width: 1025px) {
    .circle-four {
        margin-left: 15%;
    }
}

@media only screen and (max-width: 970px) {
    .circle-four {
        margin-left: 13%;
    }
}

@media only screen and (max-width: 930px) {
    .circle-four {
        margin-left: 11%;
    }
}

@media only screen and (max-width: 900px) {
    .image-bg {
        width: 100%;
    }

    .circle-five {
        margin-left: calc(100% - 7rem);
    }
}

@media only screen and (max-width: 875px) {
    .circle-four {
        margin-left: 8%;
    }
}

@media only screen and (max-width: 770px) {
    .circle-four {
        margin-left: 0%;
    }
}

@media only screen and (max-width: 825px) {
    .circle-four {
        margin-top: 119.5rem;
        margin-left: 5%;
    }
}

@media only screen and (max-width: 685px) {
    .image-container {
        width: 100%;
    }

    img {
        width: 36rem;
    
        &:hover {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 640px) {
    img {
        width: 33rem;
    }

    .project-content {
        width: 35rem;
    }
}

@media only screen and (max-width: 600px) {
    .image-container, .project-description {
        width: 100%;
    }

    img {
        width: 31rem;
    }

    .project-content {
        width: 100%;
        padding: 0 25px;
    }

    h2 {
        font-size: 1.25rem;
    }
    
}
    
@media only screen and (max-width: 550px) {
    img {
        width: 29.5rem;
    }
}

@media only screen and (max-width: 525px) {
    img {
        width: 28rem;
    }
}

@media only screen and (max-width: 500px) {
    img {
        width: 26.5rem;
    }

    h2 {
        font-size: 1.125rem;
    }
}

@media only screen and (max-width: 470px) {
    img {
        height: 23.063rem; 
        width: 25rem;
    }
    
    h2 {
        font-size: 1.125rem;
        text-align: center;
    }

    .project-container {
        gap: 0rem;
        margin-bottom: 6rem;
    }

    .circle-four {
        margin-top: 115rem;
    }
}

@media only screen and (max-width: 450px) {
    img {
        width: 23.5rem;
    }
}

@media only screen and (max-width: 425px) {
    img {
        width: 22rem;
    }
}

@media only screen and (max-width: 400px) {
    .image-container, .image-bg {
        margin-top: -1rem;
        height: 23rem;
    }

    img {
        height: 19.5rem;
        width: 20.5rem;
    }

    .project-container {
        margin-bottom: 5rem;
    }

    .circle-one {
        margin-top: 6rem;
        margin-left: -215px;
        height: 20rem;
        width: 20rem;
    }

    .circle-four {
        display: none;
    }
}

@media only screen and (max-width: 385px) {
    .btn-container {
        width: 100%;
        gap: 1.5rem;
     }
}

@media only screen and (max-width: 365px) {
    img {
        width: 19rem;
    }

    .btn-live-test, .btn-github {
        height: 3.625rem;
        width: 7.563rem;
        padding: 0.938rem 0.75rem; 
    }
}

@media only screen and (max-width: 345px) {
    .project-content {
        width: 100%;
        padding: 0;
    }

    img {
        width: 17.5rem;
    }

    p {
        font-size: 0.9rem;
    }

    .btn-container {
        gap: 1rem;
    }
}