.privacy-policy-page {
    position: relative;
    width: 100%;
    background-image: linear-gradient(to bottom, #ffffff, #eaf0ff);
    overflow: hidden;
}

.pos-navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.circle-landingpage {
    position: absolute;
    overflow: hidden;
    width: 55.75rem;
    height: 55.75rem;
    border-radius: 50%;
    margin-top: -4.688rem;
    margin-left: -12.5rem;
    background-image: linear-gradient(to right, #5988FF, #4e7cf1);
}

.df_ai_c {
    display: flex;
    align-items: center;
    height: calc(100% + 117px);
}

.privacy-policy {
    margin: 7.5rem 6.25rem 4rem 6.25rem;
    z-index: 10;
}

h1, h2 {
    font-family: 'baloo-regular';
    font-weight: 400;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-family: 'montserrat-regular';
    font-size: 1rem;
    font-weight: 400;
    line-height: 0;
}

@media only screen and (max-width: 1320px) {
    .circle-landingpage {
        margin-left: calc(-12.5rem + (100vw - 82.5rem));
    }
}

@media only screen and (max-width: 1160px) {
    .circle-landingpage {
        margin-left: -22.5rem;
    }
}

@media only screen and (max-width: 1050px) {
    .privacy-policy {
        margin: 7.5rem 3rem 3rem 3rem;
    }

    .legal-notice {
        margin-left: 3rem;
    }

    .circle-landingpage {
        margin-left: -25.5rem;
    }
}

@media only screen and (max-width: 910px) {
    .privacy-policy {
        margin: 7.5rem 2.5rem 2rem 2.5rem;
    }
}

@media only screen and (max-width: 575px) {
    .privacy-policy {
        margin: 7.5rem 1.563rem 1rem 1.563rem;
    }

    .legal-notice {
        margin-left: 1.563rem;
    }

    .circle-landingpage {
        margin-left: -27.063rem;
    }
}

@media only screen and (max-width: 525px) {
    h1 {
        font-size: 1.75rem;
    }
    
    h2 {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 510px) {
    .circle-landingpage {
        margin-left: calc(-12.5rem + (100vw - 46.5rem));
    }
}

@media only screen and (max-width: 450px) {
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.175rem;
    }
}

@media only screen and (max-width: 415px) {
    h1 {
        font-size: 1.35rem;
    }

    h2 {
        font-size: 1.125rem;
    }
}