<div class="landingpage">
    <div class="circle-landingpage"></div>

    <app-header-navbar class="pos-navbar"></app-header-navbar>
    <div class="df_ai_c">
        <div class="privacy-policy">
            <h1>{{ 'title-privacy-policy' | translate }}</h1>
            <h2>{{ 'text-data-protection' | translate }}</h2>
            <h2>{{ 'general-information' | translate }}</h2>
            <p>{{ 'text-general-information' | translate }}</p><br>

            <h2>{{ 'data-collection' | translate }}</h2>
            <h2>{{ 'who-data-collection' | translate }}</h2>
            <p>{{ 'text-data-collection' | translate }}</p><br>
            
            <h2>{{ 'how-do-we' | translate }}</h2>
            <p>{{ 'text-how-do-we' | translate }}</p><br>

            <h2>{{ 'what-do' | translate }}</h2>
            <p>{{ 'text-what-do' | translate }}</p><br>

            <h2>{{ 'what-rights' | translate }}</h2>
            <p>{{ 'text-what-rights' | translate }}</p><br>

            <p>{{ 'you-can' | translate }}</p><br>
            <h2>{{ 'hosting' | translate }}</h2>
            <p>{{ 'we-host' | translate }}</p><br>

            <h1>IONOS</h1>
            <p>{{ 'the-provider-is' | translate }}</p> <a href="https://www.ionos.de/terms-gtc/terms-privacy" target="_blank">https://www.ionos.de/terms-gtc/terms-privacy</a>
            
            <p>{{ 'the-use-of' | translate }}</p><br>

            <h2>{{ 'order-processing' | translate }}</h2>
            <p>{{ 'text-order-processing' | translate }}</p><br>

            <h2>{{ 'general-information-and' | translate }}</h2>
            <h2>{{ 'data-protection' | translate }}</h2>
            <p>{{ 'the-operators' | translate }}<br><br></p>
            <p>{{ 'when-you-use' | translate }}</p><br>
            <p>{{ 'we-would-like' | translate }}</p><br>
            
            <h2>{{ 'notice-regarding' | translate }}</h2>
            <h2>{{ 'the-responsible-entity' | translate }}</h2><br>
            
            <h3>****** ********</h3><br>
            <h3>************* **</h3><br>
            <h3>***** **************</h3><br><br>

            <h3>{{ 'phone' | translate }} +49 *** ********</h3><br>
            <h3>{{ 'email' | translate }} *********&#64;web.de</h3><br>

            <p>{{ 'the-responsible' | translate }}</p><br>

            <h2>{{ 'retention-period' | translate }}</h2>
            <p>{{ 'unless-a-more' | translate }}</p><br>

            <h2>{{ 'general-information-on-the' | translate }}</h2>
            <p>{{ 'if-you-have' | translate }}</p><br>
           
            <h2>{{ 'withdrawal' | translate }}</h2>
            <p>{{ 'many-data' | translate }}</p><br>

            <p>{{ 'right-to-object' | translate }}</p>
            <p>{{ 'if-the-data-processing' | translate }}</p>

            <p>{{ 'if-your-personal' | translate }}</p><br>

            <h2>{{ 'right-to-lodge' | translate }}</h2>
            <p>{{ 'in-the-event' | translate }}</p><br>

            <h2>{{ 'right-to-data' | translate }}</h2>
            <p>{{ 'you-have-the-right' | translate }}</p><br>

            <h2>{{ 'access' | translate }}</h2>
            <p>{{ 'you-have' | translate }}</p><br>

            <h2>{{ 'right-to-restriction' | translate }}</h2>
            <p>{{ 'you-have-the-right-to-request' | translate }}</p><br>

            <h2>{{ 'ssl-or-tls' | translate }}</h2>
            <p>{{ 'this-site-uses' | translate }}</p><br>

            <p>{{ 'when-ssl-or-tls' | translate }}</p><br>

            <h2>{{ 'objection-to' | translate }}</h2>
            <p>{{ 'the-use-of-contact' | translate }}</p><br>

            <h2>{{ 'data-collection-on' | translate }}</h2>
            <h2>Cookies</h2>
            <p>{{ 'our-websites' | translate }}<br>

            <p>{{ 'cookies-serve-various' | translate }}</p><br>
            
            <p>{{ 'cookies-that-are-required' | translate }}</p><br>

            <p>{{ 'you-can-configure-your-browser' | translate }}</p><br>
            
            <h2>{{ 'contact-form' | translate }}</h2>
            <p>{{ 'if-you-send' | translate }}</p><br>
            
            <p>{{ 'the-processing-of-this-data' | translate }}</p><br>

            <p>{{ 'the-data-you' | translate }}</p><br>

            <h2>{{ 'inquiry-by-email' | translate }}</h2>
            <p>{{ 'if-you-contact-us' | translate }}</p><br>

            <p>{{ 'the-processing' | translate }}</p><br>

            <p>{{ 'the-data-you-send' | translate }}</p><br>

            <h2>{{ 'social-media' | translate }}</h2>
            <p>{{ 'this-website' | translate }}</p><br>

            <p>{{ 'the-social-media-elements' | translate }}</p><br>

            <p>{{ 'only-when-you' | translate }}</p><br>

            <p>{{ 'activating' | translate }}</p><br>

            <p>{{ 'the-use-of-the-service' | translate }}</p><br>

            <h2>{{ 'analytics-tools' | translate }}</h2>
            <p>IONOS WebAnalytics</p><br>
            <p>{{ 'this-website-uses-the-analytics' | translate }}</p><br>

            <h3>{{ 'referrer' | translate }}</h3><br>
            <h3>{{ 'requested' | translate }}</h3><br>
            <h3>{{ 'browser' | translate }}</h3><br>
            <h3>{{ 'operating' | translate }}</h3><br>
            <h3>{{ 'device' | translate }}</h3><br>
            <h3>{{ 'time' | translate }}</h3><br>
            <p>{{ 'ip-address' | translate }}</p><br>
            <p>{{ 'the-data-collection' | translate }}</p><br>

            <p>{{ 'the-storage' | translate }}</p><br>

            <p>{{ 'for-more-information' | translate }}</p>

            <a href="https://www.ionos.de/terms-gtc/datenschutzerklaerung/" target="_blank">www.ionos.de/terms-gtc/datenschutzerklaerung</a><br><br>

            <h2>{{ 'order-processing' | translate }}</h2>
            <p>{{ 'we-have-entered' | translate }}</p><br>
        </div>
    </div>
</div>
<app-footer></app-footer>