<div class="landingpage" id="landing-page">
    <div class="circle-landingpage"></div>

    <app-header-navbar class="pos-navbar"></app-header-navbar>
    <div class="df_ai_c">
        <div class="legal-notice">
            <h1>{{ 'legal-notice' | translate }}</h1><br><br>
            <h2>{{ 'text-information-according' | translate }}</h2><br><br>
            <h2>{{ 'text-information-according-two' | translate }}</h2><br><br>
            <h2>{{ 'text-contact' | translate }}</h2><br><br>





            
        </div>
    </div>
    <app-footer class="pos-footer"></app-footer>
</div>

