.center-content {
    background-image: linear-gradient(135deg, #5988FF 6%, #5988FF 52%, #0043F0 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    width: 100%;
    max-width: 1440px;
    position: relative;
    padding: 7.563rem 6.25rem 4rem 6.25rem;
}

.df_col_ai_c {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.df_row_sb_c {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.size-logo-icon {
    height: 4.313rem;
    width: 4rem;
    margin-right: 6.875rem;

    &:hover {
        cursor: pointer;
    }
}

h1 {
    font-family: 'montserrat-regular';
    font-size: 1.438rem;
    color: white;
}

.social-container-footer {
    height: 2.5rem;
    width: 10.875rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.social-icon-size {
    height: 1.875rem;
    width: 1.875rem;

    &:hover {
        cursor: pointer;
        transform: scale(1.33);
    }
}

h2 {
    width: 7rem;
    font-family: 'montserrat-regular';
    font-size: 1rem;
    color: white; 
    padding: 0.25rem;

    &:hover {
        cursor: pointer;
        font-weight: 700;
        
        .legal-notice-underline {
            opacity: 1;
            transform: translateX(50%); 
        }
    }
}

.line {
    width: 7rem;
}

.legal-notice-underline {
    height: 0.188rem;
    width: 3.469rem;
    background-color: white;
    opacity: 0;
    transform: translateX(0);
    transition: opacity 1s ease, transform 1s ease;
}

@media only screen and (max-width: 900px) {
    .footer {
        padding: 3.313rem 2.125rem 3.25rem 2.563rem;
    }

    .df_row_sb_c {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .size-logo-icon {
        margin: 0;
    }

     h1 {
        margin-bottom: 0.75rem;
        margin-top: 0.75rem;
        font-size: 1rem;
    }

    h2 {
        margin-top: 0rem;
    }
}

@media only screen and (max-width: 370px) {
    .footer {
        padding: 3.313rem 2.125rem 3.25rem 2.563rem;
    }

     h1 {
        margin-bottom: 0.75rem;
        margin-top: 0.75rem;
        font-size: 1rem;
    }

    h2 {
        margin-top: 0rem;
    }
}